<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Website CSS style -->
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'webpage/bootstrap.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'webpage/signup.css' %}"/>

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Agent Signup</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">ReportIt Agent Signup</h1>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">
						{% csrf_token %}

						{% for field in form1 %}
						<p>
							{{ field.label_tag }}<br>
        					{{ field }}
        					{% if field.help_text %}
          						<small style="color: grey">{{ field.help_text }}</small>
        					{% endif %}
       						 {% for error in field.errors %}
							<p style="color: red">{{ error }}</p>
						{% endfor %}
					  </p>
					{% endfor %}

					{% for field in form2 %}
						<p>
							{{ field.label_tag }}<br>
        					{{ field }}
        					{% if field.help_text %}
          						<small style="color: grey">{{ field.help_text }}</small>
        					{% endif %}
       						 {% for error in field.errors %}
							<p style="color: red">{{ error }}</p>
						{% endfor %}
					  </p>
					{% endfor %}


						<div class="form-group ">
							<button type="submit" class="btn btn-primary login-button"  name="signup_submit" id="signup_submit">Register</button>
						</div>
						<div class="btn login">
				            <a href="/login" name="login" id="login">Login</a>
				         </div>
						<div class="btn homepage">
				            <a href="/" name="homepage" id="homepage">Homepage</a>
				         </div>
				         <div class="btn reporter">
				            <a href="/reporterSignup" name="reporter" id="reporter">Reporter Signup</a>
				         </div>
					</form>
				</div>
			</div>
		</div>

	</body>
</html>