<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <h2>Congratulations!</h2>
    <h2>You have successfully logged in!</h2>
</head>
<body>
    {% if user.is_authenticated %}
    <li><a href="/account/profile/" name="profile" id="profile">{{request.user.username}}'s Profile </a></li>
      <li><a href="/logout?next=/" name="logout" id="logout"> Log out</a></li>
    {% else %}
      <li><a href="/login" name="login" id="login">Login</a></li>
      <li><a href="/reporterSignup" name="reporterSignup" id="reporterSignup">ReporterSignup</a></li>
      <li><a href="/agentSignup"  name="agentSignup" id="agentSignup">AgentSignup</a></li>
    {% endif %}

    This is a dashboard page
    Here, you can view all concerncs.
</body>
</html>