<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <h2>Congratulations!</h2>
    <h2>You have successfully logged in!</h2>
</head>
<body>
    {% if user.is_authenticated %}
      <li><a href="/account/profile/">{{request.user.username}}'s Profile </a></li>
      <li><a href="/logout?next=/"> Log out</a></li>
      <li><a href="/logout/">Logout</a></li>
      <li><a href="/account/submitConcern/">SubmitConcern</a></li>
    {% else %}
      <li><a href="/login/">Login</a></li>
      <li><a href="/reporterSignup">ReporterSignup</a></li>
      <li><a href="/agentSignup">AgentSignup</a></li>
    {% endif %}

    This is a dashboard page
    Here, you can view all concerncs.
</body>
</html>