{% extends "webpage/base.html" %}
{% load static %}
{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}
<!--
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'webpage/bootstrap.css' %}"/>
		

		
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		
		

		<title>Agent Signup</title>
	</head>
	-->


{% block content %}
		<section id="main" class="container">
			<header>
				<h2>Edit Concern</h2>
				<p>Please enter your modifications</p>
			</header>
			<div class="row">
				<div class="12u">

			<!-- Table -->
					<section class="box">
						<div class="table-wrapper">
						<div class="main-login main-center">
							<!--
							<form method="post" action="/account/editSpecificConcern/id=?={{ concern.concern_id }}">
							{% csrf_token %}

							  Title:<br>
							  {{ form.title }}
							  <br>
							  Target Agency:<br>
							  {% for ele in form.agent %}
							  	{{ ele }}
							  {% endfor %}
							  <br>
							  Content:<br>
							  {{ form.content }}
							  <br><br>
							
							<button type="submit" href="#" id="concern_submit_button" class="btn btn-primary btn-lg btn-block login-button">Submit</button>
							</form> -->


							<form id="submitconcern">
							  Title:<br>
							  <input type="text" name="title" required id="id_title" maxlength="500" value="{{concern_context.title}}"/>
							  <br>
							  Target Agency:<br>
							  <select id="selectagent" name="agent" multiple="multiple" required style="background-color:inherit">
							  	{% for o in agent_legalnames %}
								    <option value="{{o}}">{{o}}</option>
								{% endfor %}								  
								</select>
							Attach Image:<br>
							  <input type="text" name="image" id="image" maxlength="500" value="{{concern_context.image}}" />							  
							Content:<br>
							  <textarea name="content" rows="4" cols="50" required id="id_content" maxlength="500">{{concern_context.content}}</textarea>
							  <br><br>

							  <button type="submit" href="#" id="concern_submit_button" class="btn btn-primary btn-lg btn-block login-button">Submit</button>							
							</form> 
						</div>
						</div>
					</section>
				</div>
			</div>
		</section>
{% endblock %}



{% block scripts %}
<script type="text/javascript">
var a = "{{concern_id}}"
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script type="text/javascript" src="{% static 'assets/js/EditConcern.js' %}"></script>

{% endblock %}
