{% extends "webpage/base.html" %}
{% load static %}
<section id="main" class="container">
<header>
<h2>My Profile</h2>
<p>Just an assorted selection of elements.</p>
</header>

{% block content %}
<div class="row">
<div class="12u">

<!-- Table -->
<section class="box">
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Name</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Username</td>
					<td>Ante turpis integer aliquet porttitor.</td>

				</tr>
				<tr>
					<td>First Name</td>
					<td>Vis ac commodo adipiscing arcu aliquet.</td>

				</tr>
				<tr>
					<td>Last Name</td>
					<td> Morbi faucibus arcu accumsan lorem.</td>

				</tr>
				<tr>
					<td>Gender</td>
					<td>Vitae integer tempus condimentum.</td>

				</tr>
				<tr>
					<td>Phone Number</td>
					<td>Ante turpis integer aliquet porttitor.</td>

				</tr>
				<tr>
					<td>Address</td>
					<td>Ante turpis integer aliquet porttitor.</td>
				</tr>
				<tr>
					<td>Bio</td>
					<td>Ante turpis integer aliquet porttitor.</td>

				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>
					<div class="12u">
						<ul class="actions">
							<li><input type="submit" value="Submit" /></li>
							<li><input type="reset" value="Cancel" class="alt" /></li>
						</ul>
					</div>
					</td>
					
				</tr>
			</tfoot>

		</table>
	</div>

</section>
</div>
</div>

{% endblock %}

						