{% extends "webpage/base.html" %}
{% load static %}
{% load util %}


{% block content %}

<section id="main" class="container">

<header>
	{% if isagent %}
	<h2>{{profile_user.legal_name}}'s Profile</h2>
	{% else %}
	<h2>{{profile_user.user.username}}'s Profile</h2>
	{% endif %}
	<!-- <p>My profile content</p> -->
</header>

{% if isagent %}
<center><img src="{{profile_user.agentimage}}" height="100" width="100" align="middle"></img></center>

{% else %}

<center><img src="{{profile_user.reporterimg}}" height="100" width="100" align="middle"></img></center>

{% endif %}

<div class="row">
<div class="12u">

<!-- Table -->
<section class="box">
	<div class="table-wrapper">
		<table>

			<tbody>
				{% if not isagent %}
				<tr>
					<td>Username</td>
					<td>{{profile_user.user.username}}</td>

				</tr>
				{% endif %}

				<tr>
					<td>Legal Name</td>
					<td>{{profile_user.legal_name}}</td>

				</tr>
				<!-- <tr>
					<td>First Name</td>
					<td>Vis ac commodo adipiscing arcu aliquet.</td>

				</tr>
				<tr>
					<td>Last Name</td>
					<td> Morbi faucibus arcu accumsan lorem.</td>

				</tr> -->
				{% if not isagent %}
				<tr>
					<td>Gender</td>
					<td>{{ profile_user.gender }}</td>

				</tr>
				{% endif %}
				<tr>
					<td>Phone Number</td>
					<td>{{profile_user.phone_number}}</td>

				</tr>
				<tr>
					<td>Address</td>
					<td>{{profile_user.address}}</td>
				</tr>
				<tr>
					<td>Bio</td>
					<td>{{profile_user.about}}</td>

				</tr>
				
			</tbody>

		</table>
	</div>

</section>
</div>
</div>



<div class="row">
	<div class="12u">

		<!-- Table -->
			<section class="box">
				<div class="table-wrapper">
					{% if isagent %}
					<h2>{{profile_user.legal_name}}'s Concerns</h2>
					{% else %}
					<h2>{{profile_user.user.username}}'s Concerns</h2>
					{% endif %}
					{% if concern != Null %}
					<table class="table table-striped">
						<ul>
							<thread>
								<tr>
									<th> Reporter </th>
									<th> Agent </th>
									<th> Title </th>
									<!-- <th> Content </th> -->
									<th> Time submitted </th>

									<th> View</th>
								</tr>
							</thread>
							<tbody>
							  {% for item in concern %}
							  <tr>
								    <td> <a href="/account/viewprofile/username?={{ item.reporter.user }}">{{ item.reporter }}</a> </td>

								    <td>
								    	{% for ele in item.target_agent.all %}

								    	<a href="/account/viewprofile/username?={{ ele.user }}">{{ ele.legal_name }}</a>, 

								    	{% endfor %}
								    </td>

								    <td> {{ item.title }} </td>
								   <!--  <td> {{ item.content }} </td> -->
								   <td> {{ item.submitted_time }} </td>

								   <td> 	
									<form method="post" action="/account/viewSpecificConcern/id?={{ item.id }}">

									{% csrf_token %}

									<button type="submit" id="concern_submit_button" class="btn btn-primary ">View</button>
									</form> 
								   </td>

							  </tr>
							  {% endfor %}
							</tbody>
						</ul>
					{% endif %}
					</table>
				</div>

			</section>

	</div>
</div>
</section>

{% endblock %}

						