<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Website CSS style -->
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'webpage/bootstrap.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'webpage/signup.css' %}"/>
		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Reset Password</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Reset Password</h1>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">



                        {% block title %}
							Reset Password{% endblock %}

							{% block content %}
							<p>Please specify your email address to receive instructions for resetting it.</p>

							<form action="" method="post">
								<div style="display:none">
									<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
								</div>
								 {{ form.email.errors }}
								<p><label>E-mail address:</label> {{ form.email }} <input type="submit" value="Send verification email" /></p>
							</form>
							{% endblock %}

						<div class="btn login">
				            <a href="/login" name="login" id="login">Login</a>
				         </div>
						<div class="btn homepage">
				            <a href="/" name="hoempage" id="hoempage">Homepage</a>
				         </div>
				         <div class="btn reporter">
				            <a href="/agentSignup" name="agent" id="agent">Agent Signup</a>
				         </div>
					</form>
				</div>
			</div>
		</div>

	</body>
</html>