<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>

<!-- Website CSS style -->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'webpage/bootstrap.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'webpage/signup.css' %}"/>

<!-- Website Font style -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title" style="margin:auto">ReportIt Verification Email Sent</h1>
	               		<hr />
	               	</div>
	            </div>
	            <div class="main-login main-center">

				    <div class="message">
				        <h1>A verification email has been sent to your mailbox!</h1>
                        <h1>Please check your mailbox.</h1>
				    </div>
				</div>



            </div>
        </div>
</body>
